---
import InfoPage from "../../layouts/InfoPage.astro";

const tools = [
    { 'url': 'modelines.html', 'name': 'Editor Modeline Generator' },
    { 'url': 'v46status.html', 'name': 'IPv4 and IPv6 Connectivity Test' },
    { 'url': 'oui-lookup.html', 'name': 'OUI Lookup Tool' },
    { 'url': 'string-cf.html', 'name': 'String-Matching Capture Filter Generator' },
    { 'url': 'wpa-psk.html', 'name': 'WPA PSK Generator' },
];
    // { 'url': 'helpdesk.html', 'name': 'Wireshark! Live! Helpdesk' },
---

<InfoPage title="Wireshark · Tools">
    <section id="tools">

    <h2>Wireshark Online Tools</h2>
  
    <p>
    The following tools are available:
    </p>

    {tools.map(tool => (
        <p>
            <a href={tool.url}>{tool.name}</a>
        </p>
    ))}
        
    </section>
</InfoPage>
