---
import InfoPage from "../../layouts/InfoPage.astro";
import Modelines from "../../components/Tools/Modelines";
---

<InfoPage title="Wireshark · Editor Modeline Generator">
    <Modelines client:only="preact" />
</InfoPage>
