---
import InfoPage from "../../layouts/InfoPage.astro";
import StringCaptureFilter from "../../components/Tools/StringCaptureFilter"
---

<style is:inline is:global>
    #searchStr {
        width: 100%;
    }

    #searchOff {
        width: 4rem;
    }

    .term {
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        background: #eee;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
</style>

<InfoPage title="Wireshark · String-Matching Capture Filter Generator">
    <StringCaptureFilter client:only="preact" />
</InfoPage>
