---
import InfoPage from "../../layouts/InfoPage.astro";
import WPAPSK from "../../components/Tools/WPAPSK";
import DonationBlock from "../../components/DonationBlock/DonationBlock.astro"
---
<script type="text/javascript" src="/js/sha1.js"></script>
<script type="text/javascript" src="/js/pbkdf2.js"></script>

<InfoPage title="Wireshark · WPA PSK Tool">
    <WPAPSK client:only="preact"><DonationBlock /></WPAPSK>
</InfoPage>
