{% extends 'layout-home.html' %}

{% block title %}About{% endblock %}

{% block content %}

<section id="download_background" class="section swatch-white">
<div class="container">

<div class="row">
  <div class="col col-md">
    <div class="ws-well">
      <h1>About Wireshark</h1>

<p>
Wireshark is the world's foremost network protocol analyzer. It lets you see
what's happening on your network at a microscopic level. It is the de
facto (and often de jure) standard across many industries and educational
institutions.
</p>

<p>
Wireshark development thrives thanks to the contributions of networking
experts across the globe. It is the continuation of a project that started in
1998.
</p>

<p>
You can follow us on Twitter at <a href="https://twitter.com/WiresharkNews">@WiresharkNews</a>.

<a name="awards"></a>
<div id="dlawards">
  <h1>Awards and Accolades</h1>
  <p>
    <a href="https://www.hostingadvice.com/blog/the-wireshark-network-and-packet-analysis-tool-turns-20/">HostingAdvice - Wireshark Turns 20</a>
  </p>
  <p>
  {# <a href="http://www.infoworld.com/slideshow/2008/08/170-best_of_open_so-8.html"><img src="{{ cdn.asset('images/bossie_logo_08.png') }}"></a>
  <br /> #}
  <a href="http://www.infoworld.com/slideshow/2008/08/170-best_of_open_so-8.html">InfoWorld BOSSIE 2008 - VoIP Monitoring</a>
  </p>
  <p>
  <a href="http://www.infoworld.com/archives/t.jsp?N=s&amp;V=91650">InfoWorld BOSSIE 2007 - Network Protocol Analysis</a>
  </p>
  <p>
  <a href="http://www.eweek.com/c/a/Linux-and-Open-Source/The-Most-Important-OpenSource-Apps-of-All-Time/5/">eWeek &#183; The Most Important<br>Open-Source Apps of All Time</a>
  </p>
  <p>
  <a href="http://www.pcmag.com/article2/0,2817,2360043,00.asp">PC Magazine &#183; Editor's Choice</a>
  </p>
  <p>
  <a style="vertical-align: 4px;" href="https://www.siteadvisor.com/sites/wireshark.org">McAfee SiteAdvisor</a>
  <a href="https://www.siteadvisor.com/sites/wireshark.org"><img src="{{ cdn.asset('images/icon_comment_good.gif') }}"></a>
  </p>
  <p>
  <a href="http://sectools.org/">Insecure.Org / Sectools.Org</a>
  </p>
</div>



<h1>Features</h1>

<p>
Wireshark has a rich feature set which includes the following:
</p>

<ul class="item-list">
  <li><a href="/docs/dfref/">Deep inspection of hundreds of protocols</a>,
    with more being added all the time
  <li>Live capture and offline analysis
  <li>Standard three-pane packet browser
  <li>Multi-platform: Runs on Windows, Linux, OS X, FreeBSD,
  NetBSD, and many others
  <li>Captured network data can be browsed via a GUI, or via the TTY-mode
    TShark utility
  <li>The most powerful display filters in the industry
  <li>Rich VoIP analysis
  <li>Read/write many different capture file formats:
    tcpdump (libpcap),
    Pcap NG,
    Catapult DCT2000,
    Cisco Secure IDS iplog,
    Microsoft Network Monitor,
    Network General Sniffer&#174; (compressed and uncompressed), Sniffer&#174; Pro, and NetXray&#174;,
    Network Instruments Observer,
    NetScreen snoop,
    Novell LANalyzer,
    RADCOM WAN/LAN Analyzer,
    Shomiti/Finisar Surveyor,
    Tektronix K12xx,
    Visual Networks Visual UpTime,
    WildPackets EtherPeek/TokenPeek/AiroPeek,
    and many others
  <li>Capture files compressed with gzip can be decompressed on the fly
  <li>Live data can be read from Ethernet, IEEE 802.11, PPP/HDLC, ATM,
    Bluetooth, USB, Token Ring, Frame Relay, FDDI, and others (depending on your platform)
  <li>Decryption support for many protocols, including
    IPsec,
    ISAKMP,
    Kerberos,
    SNMPv3,
    SSL/TLS,
    WEP,
    and WPA/WPA2
  <li>Coloring rules can be applied to the packet list for quick, intuitive
    analysis
  <li>Output can be exported to XML, PostScript&#174;, CSV, or plain text
</ul>

{# This is linked from the Wireshark man page. #}
<a name="authors"></a>
<h1>Authors</h1>

<p>
<table class="table table-condensed table-greenbar">
{% include 'authors.html' %}
</table>
</p>

<a name="legal"></a>
<h1>Legal Information</h1>

<h2>License</h2>

<p>
Wireshark&#174; is available under the
<a href="https://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License</a>
version 2. See the <a href="faq.html#sec1">General Questions</a>
section of the FAQ for more details.
</p>

<h2>Trademarks</h2>

<p>
Aironet, Cisco, Cisco IOS, Cisco Systems, Linksys, and a bunch of
other names commonly found in the networking industry are registered
trademarks of Cisco Systems, Inc.

AiroPeek, EtherPeek, TokenPeek, and OmniPeek are trademarks of
WildPackets.

AIX is a registered trademark of International Business Machines, Inc.

An "array of lozenge-shaped humps on the surface of the tool" are
a trademark of DEWALT.  Yes, really. They trademarked <b>humps</b>.

HP-UX is a registered trademark of HP.

Linux is a registered trademark of Linus Torvalds.

macOS is a registered trademark of Apple, Inc.

Microsoft Windows and Microsoft Visual Studio are registered trademarks of
Microsoft Corporation.

Rooty Tooty Fresh 'N Fruity is a registered trademark of IHOP IP, LLC.

Scattered, Smothered &amp; Covered is a registered trademark of Waffle House,
Inc.

Slackware is a registered trademark of Patrick Volkerding and Slackware Linux,
Inc.

Sniffer, Sniffer Pro, and NetXray are registered
trademarks of
<del>Network General</del>
<del>Network Associates</del>
<del>Network General</del>
NetScout.

Solaris is a registered trademark of <del>Sun Microsystems</del>
Oracle.

Visual UpTime is a trademark of Visual Networks.

Wireshark and the "fin" logo are registered trademarks of the Wireshark
Foundation.

</p>

<p>
All other trademarks on this site are property of their
respective owners.
</p>

  </div>{# ws-well #}
  </div>{# col-md #}

</div>
</div>{# container #}
</section>

{% endblock content %}
