{% extends 'layout-home.html' %}
{% import 'link.html' as link %}

{% block title %}Get Involved{% endblock %}

{% block content %}

<section id="development_background" class="section swatch-white">
<div class="container">

<div class="row">
  <div class="col col-md">
    <div class="ws-well">


  <h1>Get the Code</h1>

  <h2>Using your Browser</h2>

  <p>
  You can browse through the source code repository as well as view previous
  revisions and changes at
  {{ link.self_link('https://gitlab.com/wireshark/wireshark/tree/master') }}.
  </p>

  <h2>Using Git</h2>

  <p>
  Wireshark's code repository and review system can be found at
  {{ link.self_link('https://gitlab.com/wireshark/wireshark') }}.
  </p>

  <p>
  To clone the repository run
  </p>

  <pre class="term">git clone https://gitlab.com/wireshark/wireshark.git</pre>

  <p>
  To contribute changes back to Wireshark you must
  <a href="https://gitlab.com/users/sign_up">create a GitLab account</a>
  and
  <a href="https://www.wireshark.org/docs/wsdg_html_chunked/ChSrcContribute.html">upload a merge request</a>.
  </p>

  <h2>Work From A Source Package</h2>

  <p>
  If you cannot use Git you can download the source code for
  {{ link.href('/download/src/', 'each official release') }} and for
  {{ link.href('/download/automated/src/', 'recent development commits') }}.
  </p>

  <p>
  These are meant for one-time use, such as for building binary packages. If you
  use them for ongoing development it is <em>much</em> harder to keep up to date
  with the repository.
  </p>

  <a name="buildbot"></a>
  <h1>Watch it Happen</h1>

  <p>
  We use
  {{ link.href('https://docs.gitlab.com/ee/ci/', 'GitLab CI/CD') }}
  for automated builds and testing.
  We have the following builds up and running:
  </p>

  <ul class="item-list">

    <li>{{ link.href('https://gitlab.com/wireshark/wireshark/-/pipelines?ref=master', '4.1 (development) branch') }},
    <li>{{ link.href('https://gitlab.com/wireshark/wireshark/-/pipelines?ref=release-4.0', '4.0 (stable) branch') }},
    <li>{{ link.href('https://gitlab.com/wireshark/wireshark/-/pipelines?ref=release-3.6', '3.6 (old stable) branch') }},

  </ul>

  <h1>Send Us Your Code</h1>

  <p>
  If you have changes you want included in Wireshark, please
  <a href="https://www.wireshark.org/docs/wsdg_html_chunked/ChSrcContribute.html">create a merge request</a>
  on
  <a href="https://gitlab.com/wireshark/wireshark">GitLab</a>.
  </p>

  <p>
  The
  <a href="https://www.wireshark.org/docs/wsdg_html_chunked/ChSrcContribute.html#ChSrcUpload">Developer’s Guide has complete documentation</a>
  on preparing and uploading patches.
  </p>

  <h1>Get Help</h1>

  <p>
  There are plenty of places to get help with Wireshark development:
  </p>

  <ul>

    <li>{{ link.href('/docs/wsdg_html_chunked/', 'Developer\'s Guide') }}

    <li>{{ link.href('/mailman/listinfo/wireshark-dev', 'Wireshark-dev') }}
    mailing list

    <li>{{ link.href('https://ask.wireshark.org/', 'Wireshark Q&amp;A') }} questions &amp; answers

    <li>{{ link.href('https://gitlab.com/wireshark/wireshark/-/wikis/Development/', 'Development') }} section
    on the {{ link.href('https://gitlab.com/wireshark/wireshark/-/wikis', 'Wireshark wiki') }}

  <ul>

  </div>{# ws-well #}
  </div>{# col-md #}

</div>
</div>{# container #}
</section>


{% endblock content %}
