{% extends 'layout-home.html' %}
{% import 'versions.html' as versions %}

{% block title %}Download{% endblock %}

{% block content %}

<section id="download_background" class="section swatch-white">
<div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="ws-well">
      <h2>Download Wireshark</h2>


  <p>
  The current stable release of Wireshark is {{ versions.stable }}.
  It supersedes all previous releases.

  {% if versions.development_winintel64_bytes|int > 0 %}
  You can also download the latest development release ({{ versions.development }})
  and documentation.
  {% endif %}
  </p>

    </div>

<div id="dl_box">

<div id="accordion_download" class="panel-group">

  <div class="panel panel-primary panel-ws-download">
    <div class="panel-heading">
	<a href="#group_accordion_stable" class="accordion-toggle" data-parent="#accordion_download" data-toggle="collapse">Stable Release ({{ versions.stable }})</a>
    </div>
    <div id="group_accordion_stable" class="panel-collapse collapse in">
      <div class="panel-body">

	<ul class="list-unstyled list-ws-download">
	  <li><span class="dl_arrow platform-win64"></span><a href="{{ versions.download_prefix }}/win64/Wireshark-win64-{{ versions.stable }}.exe">Windows Installer (64-bit)</a></li>
	  <li><span class="dl_arrow"></span><a href="{{ versions.download_prefix }}/win64/WiresharkPortable64_{{ versions.stable }}.paf.exe">Windows PortableApps&reg; (64-bit)</a></li>
	  <li><span class="dl_arrow platform-macarm"></span><a href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.stable }}%20Arm%2064.dmg">macOS Arm 64-bit .dmg</a></li>
	  <li><span class="dl_arrow platform-macintel"></span><a href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.stable }}%20Intel%2064.dmg">macOS Intel 64-bit .dmg</a></li>
	  <li><span class="dl_arrow"></span><a href="{{ versions.download_prefix }}/src/wireshark-{{ versions.stable }}.tar.xz">Source Code</a></li>
	</ul>
      </div>
    </div>
  </div>

  <div class="panel panel-primary panel-ws-download">
    <div class="panel-heading">
	<a href="#group_accordion_oldstable" class="accordion-toggle" data-parent="#accordion_download" data-toggle="collapse">Old Stable Release ({{ versions.oldstable }})</a>
    </div>
    <div id="group_accordion_oldstable" class="panel-collapse collapse">
      <div class="panel-body">

	<ul class="list-unstyled list-ws-download">
	  <li><span class="dl_arrow platform-win64"></span><a href="{{ versions.download_prefix }}/win64/Wireshark-win64-{{ versions.oldstable }}.exe">Windows Installer (64-bit)</a></li>
	  <li><span class="dl_arrow"></span><a href="{{ versions.download_prefix }}/win64/WiresharkPortable64_{{ versions.oldstable }}.paf.exe">Windows PortableApps&reg; (64-bit)</a></li>
	  <li><span class="dl_arrow platform-win32"></span><a href="{{ versions.download_prefix }}/win32/Wireshark-win32-{{ versions.oldstable }}.exe">Windows Installer (32-bit)</a></li>
	  <li><span class="dl_arrow"></span><a href="{{ versions.download_prefix }}/win32/WiresharkPortable32_{{ versions.oldstable }}.paf.exe">Windows PortableApps&reg; (32-bit)</a></li>
	  <li><span class="dl_arrow platform-macarm"></span><a href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.oldstable }}%20Arm%2064.dmg">macOS Arm 64-bit .dmg</a></li>
	  <li><span class="dl_arrow platform-macintel"></span><a href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.oldstable }}%20Intel%2064.dmg">macOS Intel 64-bit .dmg</a></li>
	  <li><span class="dl_arrow"></span><a href="{{ versions.download_prefix }}/src/wireshark-{{ versions.oldstable }}.tar.xz">Source Code</a></li>
	</ul>
      </div>
    </div>
  </div>

{% set download_selector='panel-ws-download' %}

{% if versions.development_winintel64_bytes|int > 0 %}
<div class="panel panel-primary {{ download_selector }}">
    <div class="panel-heading">
	<a href="#group_accordion_development" class="accordion-toggle" data-parent="#accordion_download" data-toggle="collapse">Development Release ({{ versions.development }})</a>
    </div>
    <div id="group_accordion_development" class="panel-collapse collapse">
      <div class="panel-body">

	<ul class="list-unstyled list-ws-download">
	  <li><span class="dl_arrow platform-win64"></span><a href="{{ versions.download_prefix }}/win64/Wireshark-win64-{{ versions.development }}.exe">Windows Installer (64-bit)</a></li>
	  <li><span class="dl_arrow"></span><a href="{{ versions.download_prefix }}/win64/WiresharkPortable64_{{ versions.development }}.paf.exe">Windows PortableApps&reg; (64-bit)</a></li>
	  <li><span class="dl_arrow platform-macarm"></span><a href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.development }}%20Arm%2064.dmg">macOS Arm 64-bit .dmg</a></li>
	  <li><span class="dl_arrow platform-macintel"></span><a href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.development }}%20Intel%2064.dmg">macOS Intel 64-bit .dmg</a></li>
	  <li><span class="dl_arrow"></span><a href="{{ versions.download_prefix }}/src/wireshark-{{ versions.development }}.tar.xz">Source Code</a></li>
	</ul>
      </div>
    </div>
  </div>
  {% endif %}{# versions.development_winintel64_bytes #}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <a href="#group_accordion_documentation" class="accordion-toggle" data-parent="#accordion_download" data-toggle="collapse">Documentation</a>
    </div>
    <div id="group_accordion_documentation" class="panel-collapse collapse">
      <div class="panel-body">

	<ul class="list-unstyled">
	  <li><a href="/docs/wsug_html_chunked/">Online (Multiple Pages)</a></li>
	  <li><a href="/docs/wsug_html/">Online (Single Page)</a></li>
	  <li><a href="https://www.wireshark.org/download/docs/Wireshark%20User%27s%20Guide.epub">EPUB</a></li>
	  <li><a href="https://www.wireshark.org/download/docs/Wireshark%20User%27s%20Guide.pdf">PDF</a></li>
	  <li><a href="/docs/">All Documentation</a></li>
	</ul>
      </div>
    </div>
  </div>

</div>
</div>

    <div class="ws-well">
      <div class="ws-well-heading">Not What You’re Looking For?</div>

  <h3>Older Releases</h3>

  <p>
  All present and past releases can be found in <a href="#spelunking">our download area</a>.
  </p>

  <h3>Installation Notes</h3>

  <p>
  For a complete list of system requirements and supported platforms,
  please consult <a href="/docs/wsug_html_chunked/ChIntroPlatforms.html">the User's Guide</a>.
  </p>

  <p>
  Information about each release can be found in <a href="/docs/relnotes/">the release notes</a>.
  </p>

  <p>
  Each Windows package comes with the latest stable release of Npcap, which is required for live packet capture.
  If needed you can download separately from the <a href="https://nmap.org/npcap/">Npcap</a> web site.
  </p>

  <p>
  You can also capture packets using <a href="https://www.winpcap.org/">WinPcap</a>, although it is no longer maintained or supported.
  </p>

  <h3>Live on the Bleeding Edge</h3>

  <p>
  You can download source code packages and Windows installers which are
  automatically created each time code is checked into the
  <a href="https://gitlab.com/wireshark/wireshark/">source code repository</a>.
  These packages are available in the <a href="/download/automated/">automated
  build section</a> of our download area.
  </p>

  <a id="spelunking"></a>
  <h3>Go Spelunking</h3>

  <p>
  You can explore the download areas of the main site and mirrors below.
  Past releases can be found by browsing the <i>all-versions</i> directories
  under each platform directory.
  </p>

{# Backup links in case fill_dl.js fails #}
{# Should be more-or-less synced with mirror.html #}
  <div id="dl_mirrors">
  <ul class="item-list">
    <li><a href="https://1.as.dl.wireshark.org">Wireshark Foundation (https, us)</a></li>
    <li><a href="https://1.eu.dl.wireshark.org">Wireshark Foundation (https, us)</a></li>
    <li><a href="https://1.na.dl.wireshark.org">Wireshark Foundation (https, us)</a></li>
    <li><a href="https://2.na.dl.wireshark.org">Wireshark Foundation (https, us)</a></li>
    <li><a href="ftp://ftp.uni-kl.de/pub/wireshark">University of Kaiserslautern (ftp, de)</a></li>
    <li><a href="http://ftp.uni-kl.de/pub/wireshark/">University of Kaiserslautern (http, de)</a></li>
    <li><a href="http://ftp.yz.yamagata-u.ac.jp/pub/network/security/wireshark/">Yamagata University, Japan (http, jp)</a></li>
    <li><a href="ftp://ftp.yz.yamagata-u.ac.jp/pub/network/security/wireshark/">Yamagata University, Japan (ftp, jp)</a></li>
    <li><a href="rsync://ftp.yz.yamagata-u.ac.jp/pub/network/security/wireshark/">Yamagata University, Japan (rsync, jp)</a></li>
    <li><a href="https://wireshark.marwan.ma/download/">MARWAN, Morocco (https, ma)</a></li>
    <li><a href="https://www.wireshark.org/download">Wireshark.org (https, us)</a></li>
  </ul>
  </div>

  <h3>Stay Current</h3>

  <p>
  You can stay informed about new Wireshark releases by subscribing to
  the <a href="/lists">wireshark-announce mailing list</a>.  We
  also provide a <a href="/wireshark-pad.xml">PAD file</a> to
  make automated checking easier.
  </p>

  <h3>Verify Downloads</h3>

  <p>
  File hashes for the {{ versions.stable }} release can be found in
  the <a href="/download/SIGNATURES-{{ versions.stable }}.txt">signatures file</a>.
  It is signed with <a href="/download/gerald_at_wireshark_dot_org.gpg">key id 0xE6FEAEEA</a>.
  Prior to April 2016 downloads were signed with <a href="/download/gpg_transition_statement_2016.txt">key id 0x21F2949A</a>.
  </p>

  <h3>Stay Legal</h3>

  <p>
  Wireshark is subject to
  <a href="export.html">U.S. export regulations</a>. Take heed.
  Consult a lawyer if you have any questions.
  </p>

  </div>

  <div class="ws-well">
  <div class="ws-well-heading">Third-Party Packages</div>

  <p>
  Wireshark packages are available for most platforms, including
  the ones listed below.
  </p>

  <table class="table table-condensed table-greenbar">
  <caption>
    <strong>Standard package</strong>: Wireshark is available via the default
    packaging system on that platform.
  </caption>
  <tbody>
  <tr><th>Vendor / Platform</th><th>Sources</th></tr>

  <tr>
    <td>Alpine / Alpine Linux</td>
    <td>
      <a href="https://pkgs.alpinelinux.org/packages?name=wireshark">Standard package</a>
    </td>
  </tr>

  <tr><td>Apple / macOS</td>
    <td>
      <a href="https://formulae.brew.sh/cask/wireshark">Homebrew cask (includes UI)</a> <a href="https://formulae.brew.sh/formula/wireshark">Homebrew formula (CLI only)</a><br>
      <a href="https://www.macports.org/">MacPorts</a><br>
      <a href="http://pdb.finkproject.org/pdb/package.php/wireshark">Fink</a>
    </td></tr>

  <tr><td>Arch Linux / Arch Linux</td>
    <td>
      <a href="https://www.archlinux.org/packages/?sort=&q=wireshark">Standard package</a>
    </td>
  </tr>

  <tr><td>Canonical / Ubuntu</td>
    <td>
      <a href="https://launchpad.net/ubuntu/+source/wireshark">Standard package</a><br>
      <a href="https://launchpad.net/~wireshark-dev/+archive/ubuntu/stable">Latest stable PPA</a>
    </td>
  </tr>

  <tr>
    <td>Debian / Debian GNU/Linux</td>
    <td>
      <a href="https://packages.qa.debian.org/w/wireshark.html">Standard package</a>
    </td>
  </tr>

  <tr>
    <td>The FreeBSD Project / FreeBSD</td>
    <td>
      <a href="https://www.freshports.org/net/wireshark/">Standard package</a>
    </td>
  </tr>

  <tr>
    <td>Gentoo Foundation / Gentoo Linux</td>
    <td>
      <a href="https://packages.gentoo.org/package/net-analyzer/wireshark">Standard package</a>
    </td>
  </tr>

  <tr><td>HP / HP-UX</td>
  <td>
    <a href="http://hpux.connect.org.uk/">Porting And Archive Centre for HP-UX</a>
  </td></tr>

  <tr>
    <td>NetBSD Foundation / NetBSD</td>
    <td>
      <a href="ftp://ftp.netbsd.org/pub/pkgsrc/current/pkgsrc/net/wireshark/">Standard package</a>
    </td>
  </tr>

  <tr>
    <td>NixOS / NixOS</td>
    <td>
      <a href="https://search.nixos.org/packages?query=wireshark&channel=unstable">Standard package</a>
    </td>
  </tr>

  <tr><td>openSUSE / openSUSE</td> <td>Standard package</td></tr>

  <tr>
    <td>Offensive Security / Kali Linux</td>
    <td>
      <a href="https://pkg.kali.org/pkg/wireshark">Standard package</a>
    </td>
  </tr>

{#
  <tr>
    <td>OpenPKG / OpenPKG Project</td>
    <td>
      <a href="http://www.openpkg.org/product/packages/?package=wireshark">Standard package</a>
    </td>
  </tr>
#}

{#
  <tr>
    <td>PC-BSD Software &#183; iXsystems  / PC-BSD</td>
    <td>
      <a href="http://pbidir.com/bt/pbi/67/wireshark">Push Button Installer</a>
    </td>
  </tr>
#}

  <tr><td>PCLinuxOS / PCLinuxOS</td> <td>Standard package</td></tr>

  <tr>
    <td>Red Hat / Fedora</td>
    <td>
      <a href="https://packages.fedoraproject.org/pkgs/wireshark/wireshark/">Standard package</a>
    </td>
  </tr>

  <tr><td>Red Hat / Red Hat Enterprise Linux</td> <td>Standard package</td></tr>

  <tr><td>Slackware Linux / Slackware</td>
  <td>
    <a href="https://slackbuilds.org/">SlackBuilds.org</a>
  </td></tr>

  <tr><td>Oracle / Solaris 11</td>
  <td>
    <a href="http://pkg.oracle.com/solaris/release/en/search.shtml?token=wireshark&action=Search">Standard package</a>
{#
    <a href="https://www.opencsw.org/">CSW</a><br>
    <a href="https://unixpackages.com/">UNIX Packages</a>
#}
  </td></tr>

  <tr><td>* / *</td>
  <td>
    <a href="http://www.thewrittenword.com/">The Written Word</a>
  </td></tr>

  </tbody>
  </table>

    </div>

  </div>

  <div class="col-md-4">
    <div class="ws-well" id="enhancement">
      <div class="ws-well-heading ws-well-heading-enhancement">Sponsors</div>
        <div class="ws-well-content">
          <div class="record">
            <div class="row" style="margin-top: 15px;">
              <div class="col-md-12">
                <div class=" element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                  <div class="col-md-6 col-sm-12 text-align-center dl-banners">
                    {# https://www.comworth.com.sg/swiftwing/?from=wireshark #}
                    <a href="https://www.comworth.com.sg/swiftwing/?from=wireshark"><img
                        class="banner-img-downloads" src="assets/theme-2015/cards/comworth.png" alt="Comworth"></a>
                  </div>
                  <div class="col-md-6 col-sm-12 text-align-center dl-banners">
                    {# https://www.endace.com/endaceprobe?utm_source=wireshark&utm_medium=banner&utm_campaign=dl-page #}
                    <a href="https://www.endace.com/endaceprobe?utm_source=wireshark&utm_medium=banner&utm_campaign=dl-page"><img
                        class="banner-img-downloads" src="assets/theme-2015/cards/endace.png" alt="Endace"></a>
                  </div>
                  <div class="col-md-6 col-sm-12 text-align-center dl-banners">
                    {# Redirects to https://fmad.io/001bbf9ab910b0556e4b666b370abffb.html #}
                    <a href="https://fmad.io/001bbf9ab910b0556e4b666b370abffb.html"><img class="banner-img-downloads"
                        src="assets/theme-2015/sponsors/fmadio.png" alt="fmadio"></a>
                  </div>
                  <div class="col-md-6 col-sm-12 text-align-center dl-banners">
                    {# Redirects to https://sysdig.com/blog/wireshark-creator-joins-sysdig/ #}
                    <a href="https://sysdig.com/blog/wireshark-creator-joins-sysdig/"><img class="banner-img-downloads" src="assets/theme-2015/cards/sysdig.png"
                        alt="Sysdig"></a>
                  </div>
                  <div class="col-md-6 col-sm-12 text-align-center dl-banners">
                    {# Redirects to https://www.scos.training/wireshark-training/troubleshooting-tcp-ip-networks/ #}
                    <a href="/sponsors/scos-training"><img class="banner-img-downloads" src="assets/theme-2015/sponsors/scos-ad.jpg"
                        alt="Scos Training"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-8">
  </div>
</div>

    </div>{# container #}
</section>

<script src="/mirrors.js?geo=1"></script>
<script src="{{ get_asset('/js/fill_dl.js') }}"></script>
<script>
$(function() {
  $('div#dl_box').on('show', function (e) {
    console.log('show', $(e.target).attr('class'), $(e.target).attr('id'));
    $(e.target).prev('.accordion-heading').addClass('active');
  });

  $('div#dl_box').on('hidden', function (e) {
    console.log('hidden', $(e.target).attr('class'), $(e.target).attr('id'));
    $(e.target).prev('.accordion-heading').removeClass('active');
  });

});
function init_dl() {
  update_dl_elements(".{{ download_selector }}", "{{ versions.download_prefix }}");
  fill_dl_mirrors("{{ versions.stable }}", "{{ versions.oldstable }}", "{{ versions.development }}");
}
if (document.readyState != 'loading'){
    init_dl();
} else {
    document.addEventListener('DOMContentLoaded', init_dl);
}
</script>
{% endblock content %}
