{#
For our purposes this generate the header and footer from _templates/layout-home.
#}
{% extends 'layout-home.html' %}

{#
Software versions, e.g. {{ versions.stable }}
#}
{% import 'versions.html' as versions %}
{% import 'blog-entries.html' as blog_entries %}
{% import 'videos.html' as videos %}

{% set rss_title='Wireshark News' %}
{% set rss_url='https://www.wireshark.org/news.rss' %}

{% block content %}
<article>
    <span>
        <p class="sharkfestbanner"><a style="color:#03a8de" href="https://wiresharkfoundation.org/donate/" target="_blank"
                rel="noopenner noreferrer">The Wireshark Foundation is now a non-profit! Support the project with a donation.</a></p>
    </span>
    <span>
        <p class="sharkfestbanner2"><a style="color:white" href="https://sharkfest.wireshark.org" target="_blank"
                rel="noopenner noreferrer">Join us for SharkFest'23 ASIA this April in Singapore!</a></p>
        </span>
    <section class="section swatch-black section-text-shadow section-inner-shadow" style="padding: 80px">
        <div class="background-media"
            style="background-image: url('assets/theme-2015/images/home-intro.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50%;"
            data-start="background-position:50% 50%" data-70-top-bottom="background-position:50% 70%">
        </div>
        <div class="background-overlay grid-overlay-70 "></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="element-tall-top element-normal-bottom condensed" data-start="opacity:1"
                        data-center="opacity:1" data-100-top-bottom="opacity:0">
                        <div class="row " data-os-animation="" data-os-animation-delay="">
                            <div class="col-md-4 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation"
                                    data-os-animation="fadeInUp" data-os-animation-delay=".0s">
                                    <div
                                        class="box box-round box-normal element-medium-top element-short-bottom os-animation">
                                        <div class="box-dummy"></div>
                                        <a class="box-inner grid-overlay-10" href="#download"
                                            style="background-color:#e9e9e9;">
                                            <i id="blueIcon" class="fa fa-download"></i>
                                        </a>
                                    </div>
                                    <h1 class="normal bold bordered bordered-small ">
                                        Download
                                    </h1>
                                    <h3 class="">Get Started Now</h3>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation"
                                    data-os-animation="fadeInUp" data-os-animation-delay=".15s">
                                    <div class="box box-round box-normal">
                                        <div class="box-dummy"></div>
                                        <a class="box-inner grid-overlay-10" href="#learnWS"
                                            style="background-color:#e9e9e9;">
                                            <i class="fa fa-book big-button-icon"></i>
                                        </a>
                                    </div>
                                    <h1 class="normal bold bordered bordered-small ">
                                        Learn
                                    </h1>
                                    <h3 class="">Knowledge is Power</h3>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="element-medium-top element-medium-bottom text-center os-animation"
                                    data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                                    <div class="box box-round box-normal">
                                        <div class="box-dummy"></div>
                                        <a class="box-inner grid-overlay-10 sharkfest-circle" href="#download"
                                            id="profilelinks" style="background-color:#e9e9e9;">
                                            <img class="sf-logo" src="assets/images/sflogo.png" alt="SharkFest icon">
                                        </a>
                                    </div>
                                    <h1 class="normal bold bordered bordered-small ">
                                        Go Beyond
                                    </h1>
                                    <h3 class="">With Wireshark Sponsors</h3>
                                </div>
                            </div>
                        </div>
                    </header>

                </div>
            </div>
        </div>
    </section>

    <section id="aboutWS" class="section swatch-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">

                    <header class="text-center element-tall-top element-no-bottom os-animation condensed"
                        data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <h1 class="bigger hairline bordered bordered-normal">About Wireshark

                        </h1>

                    </header>
                    <div style="margin-bottom: 20px;" class="col-md-12">
                        <div style="margin-bottom: 20px!important; margin-top: 40px!important"
                            class="element-normal-top element-normal-bottom os-animation" data-os-animation="fadeInLeft"
                            data-os-animation-delay="0s">
                            <div class="tabbable tabls-below">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <!-- Nav tabs -->
                                    <li class="active"><a href="#1398253364-1-69" data-toggle="tab">About</a>
                                    </li>
                                    <li><a href="#1398253522514-2-10" data-toggle="tab">Awards and Accolades</a>
                                    </li>
                                    <li><a href="/about.html#authors">Authors</a></li>
                                    <!-- <li><a href="#11111" data-toggle="tab">SharkFest</a></li> -->
                                    <li>
                                        <a href="#13" data-toggle="tab">Wireshark Sponsors</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Tab panes -->
                                    <div class="tab-pane fade in active" id="1398253364-1-69">
                                        <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                            data-os-animation-delay="0s">
                                            <p>
                                                <strong>Wireshark</strong> is the world’s foremost and widely-used
                                                network protocol analyzer. It lets you see what’s happening on your
                                                network at a microscopic level and is the de facto (and often de jure)
                                                standard across many commercial and non-profit enterprises, government
                                                agencies, and educational institutions. Wireshark development thrives
                                                thanks to the volunteer contributions of networking experts around the
                                                globe and is the continuation of a project started by Gerald Combs in
                                                1998.
                                            </p>
                                            <p>
                                                <strong>Wireshark</strong> has a rich feature set which includes the
                                                following:
                                            </p>
                                            <ul>
                                                <li>Deep inspection of hundreds of protocols, with more being added all
                                                    the time</li>
                                                <li>Live capture and offline analysis</li>
                                                <li>Standard three-pane packet browser</li>
                                                <li>Multi-platform: Runs on Windows, Linux, macOS, Solaris, FreeBSD,
                                                    NetBSD, and many others</li>
                                                <li>Captured network data can be browsed via a GUI, or via the TTY-mode
                                                    TShark utility</li>
                                                <li>The most powerful display filters in the industry</li>
                                                <li>Rich VoIP analysis</li>
                                                <li>Read/write many different capture file formats: tcpdump (libpcap),
                                                    Pcap NG, Catapult DCT2000, Cisco Secure IDS iplog, Microsoft Network
                                                    Monitor, Network General Sniffer® (compressed and uncompressed),
                                                    Sniffer® Pro, and NetXray®, Network Instruments Observer, NetScreen
                                                    snoop, Novell LANalyzer, RADCOM WAN/LAN Analyzer, Shomiti/Finisar
                                                    Surveyor, Tektronix K12xx, Visual Networks Visual UpTime,
                                                    WildPackets EtherPeek/TokenPeek/AiroPeek, and many others</li>
                                                <li>Capture files compressed with gzip can be decompressed on the fly
                                                </li>
                                                <li>Live data can be read from Ethernet, IEEE 802.11, PPP/HDLC, ATM,
                                                    Bluetooth, USB, Token Ring, Frame Relay, FDDI, and others (depending
                                                    on your platform)</li>
                                                <li>Decryption support for many protocols, including IPsec, ISAKMP,
                                                    Kerberos, SNMPv3, SSL/TLS, WEP, and WPA/WPA2</li>
                                                <li>Coloring rules can be applied to the packet list for quick,
                                                    intuitive analysis</li>
                                                <li>Output can be exported to XML, PostScript®, CSV, or plain text</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="1398253522514-2-10">
                                        <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                            data-os-animation-delay="0s">
                                            <p>
                                                <a href="https://awards.acm.org/award_winners/combs_0228059">Gerald
                                                    Combs receives ACM Software System Award</a><br>
                                                <a
                                                    href="http://www.eweek.com/c/a/Linux-and-Open-Source/The-Most-Important-OpenSource-Apps-of-All-Time/5/">eWeek
                                                    • The Most Important Open-Source Apps of All Time</a>
                                                <br>
                                                <a href="http://www.pcmag.com/article2/0,2817,2360038,00.asp">PC
                                                    Magazine • Editor's Choice</a><br>
                                                <a href="http://www.siteadvisor.com/sites/wireshark.org">McAfee
                                                    SiteAdvisor</a>
                                                <br>
                                                <a href="http://sectools.org/">Insecure.Org / Sectools.Org</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="11111">
                                        <div class="text-align-left element-no-top element-no-bottom"
                                            data-os-animation="none" data-os-animation-delay="0s">

                                            <h2>What is SharkFest?</h2>
                                            <p><a href="https://sharkfest.wireshark.org">SharkFest</a>™, launched in
                                                2008, is a series of annual educational conferences staged in various
                                                parts of the globe and focused on sharing knowledge, experience and best
                                                practices among the <a href="https://wireshark.org">Wireshark</a>®
                                                developer and user communities.
                                            <p>

                                            <p>SharkFest attendees hone their skills in the art of packet analysis by
                                                attending lecture and lab-based sessions delivered by the most seasoned
                                                experts in the industry. Wireshark core code contributors also gather
                                                during the conference days to enrich and evolve the tool to maintain its
                                                relevance in ensuring the productivity of modern networks.</p>
                                            <p>Learn more about SharkFest in our <a href="/assets/images/faq.pdf">FAQ
                                                    PDF</a>.</p>
                                            <h2>SharkFest Mission</h2>
                                            <p>SharkFest’s aim is to support ongoing Wireshark development, to educate
                                                and inspire current and future generations of computer science and IT
                                                professionals responsible for managing, troubleshooting, diagnosing and
                                                securing legacy and modern networks, and to encourage widespread use of
                                                the free analysis tool. Per Gerald Combs, Wireshark project Founder
                                                …“Wireshark is a tool and a community. My job is to support both”.</p>
                                            <h2>SharkFest GOALS</h2>
                                            <ol>
                                                <li>To educate current and future generations of network engineers,
                                                    network architects, application engineers, network consultants, and
                                                    other IT professionals in best practices for troubleshooting,
                                                    securing, analyzing, and maintaining productive, efficient
                                                    networking infrastructures through use of the Wireshark free, open
                                                    source analysis tool.</li>
                                                <li>To share use cases and knowledge among members of the Wireshark user
                                                    and developer communities in a relaxed, informal milieu.</li>
                                                <li>To remain a self-funded, independent, educational conference hosted
                                                    by a corporate sponsor.</li>
                                            </ol>
                                            <h2>SharkFest Conferences</h2>
                                            <h3><a href="https://sharkfest.wireshark.org/">SharkFest'23</a></h3>
                                            <ul>
                                                <li>TBD</li>
                                                <li>Location: TBD</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" style="min-height: 63vh; overflow: hidden;" id="13">
                                        <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                            data-os-animation-delay="0s">
                                            <div class="col-md-12">
                                                <div class="col-md-12 col-sm-12">
                                                    <p>The Wireshark Foundation is profoundly grateful to the
                                                        organizations that have generously supported SharkFest™
                                                        educational conferences over the years. Please join us in
                                                        thanking them by reviewing their Wireshark use-enhancing
                                                        technology, training, and services either at a SharkFest event,
                                                        or through clicking on their ads below.</p>
                                                    <!-- <div class="col-md-6 col-sm-12 banner-padding">
                                                        {# Redirects to https://www.profitap.com #}

                                                        <a href="https://www.profitap.com"><img class="banner-img" src="assets/theme-2015/sponsors/profitap.jpg" alt="Profitap"></a>
                                                    </div> -->
                                                    <div class="col-md-6 col-sm-12 banner-padding">
                                                        {# Redirects to
                                                        https://sysdig.com/blog/wireshark-creator-joins-sysdig/ #}

                                                        <a
                                                            href="https://sysdig.com/blog/wireshark-creator-joins-sysdig/"><img
                                                                class="banner-img"
                                                                src="assets/theme-2015/cards/sysdig.png"
                                                                alt="Sysdig"></a>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 banner-padding">


                                                        {# Redirects to
                                                        https://www.scos.training/wireshark-training/troubleshooting-tcp-ip-networks/
                                                        #}
                                                        <a href="/sponsors/scos-training"><img
                                                                src="assets/theme-2015/sponsors/scos-ad.jpg"
                                                                alt="Scos Training"></a>
                                                    </div>
                                                    <!-- <div class="col-md-6 col-sm-12 banner-padding">
                                                        {# Redirects to https://www.fmad.io/?ts=781c07c783ef4f5d5258aa61ff527255 #}
                                                        <a href="https://www.fmad.io/?ts=781c07c783ef4f5d5258aa61ff527255"><img src="assets/theme-2015/sponsors/fmadio.jpg" alt="fmadio"></a>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="learnWS" class="section swatch-blue">
        <div class="background-overlay grid-overlay-20 " style="background-color: rgba(0,0,0,0.2);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">

                    <header class="text-center element-tall-top element-no-bottom os-animation condensed"
                        data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <h1 class="bigger hairline bordered bordered-normal">Learn Wireshark

                        </h1>

                    </header>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary  element-normal-top element-short-bottom os-animation"
                        data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Wireshark Training
                            </h3>
                        </div>
                        <div class="panel-body swatch-gray">
                            <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                data-os-animation-delay="0s">
                                <h4>SharkFest™ Wireshark Educational Conferences</h4>
                                <p>Join Gerald Combs, Hansang Bae, Kary Rogers, Sake Blok, Jasper Bongertz, Christian
                                    Landström, Phill Shade, and many other packet analysis experts at <a
                                        href="https://sharkfest.wireshark.org/">SharkFest</a>, an immersive
                                    Wireshark training experience.</p>
                                <ul>
                                    <li><a href="https://sharkfest.wireshark.org" target="_blank"
                                            rel="noopenner noreferrer">SharkFest'23 ASIA</a> April 17-19</li>
                                    <li><a href="https://sharkfest.wireshark.org" target="_blank"
                                            rel="noopenner noreferrer">SharkFest'23 US</a> June 10-15</li>
                                </ul>
                                <p>Contact <a href="mailto:sharkfest@wireshark.org">sharkfest@wireshark.org</a> for more
                                    info.</p>
                                <iframe width="300" height="169" style="padding: 10px; border: none"
                                src="https://www.youtube.com/embed/3HdKhen0Gqw" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                                <iframe width="300" height="169" style="padding: 10px; border: none"
                                src="https://www.youtube.com/embed/7bfUSXJPHPs" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                                <h4>Wireshark University USA Training - Packet Pioneer - Chris Greer</h4>
                                <ul>
                                    <li><strong>Udemy<strong>: <a
                                        href="https://www.bit.ly/udemywireshark" target="_blank"
                                        rel="noopenner noreferrer">Getting Started with Wireshark – The Ultimate Hands-On Course</a></li>
                                    <li><strong>Virtual Course - January 23rd and 24th, 2023. 8am-3:30pm Pacific Time USA<strong>: <a
                                        href="https://www.bit.ly/virtualwireshark" target="_blank"
                                        rel="noopenner noreferrer">TCP/IP Deep Dive with Wireshark – Getting Started with Packet Analysis</a></li>
                                    <li>
                                        <strong>
                                            On-Demand Wireshark Training
                                        </strong>:
                                        <ul>
                                            <li><a target="_blank" rel="noopenner noreferrer"
                                                    href="https://bit.ly/wiresharktcp">Foundational TCP
                                                    Analysis with Wireshark</a></li>
                                            <li><a target="_blank" rel="noopenner noreferrer"
                                                    href="https://bit.ly/wiresharkcyber">Wireshark
                                                    Configuration for Cybersecurity Analysis</a></li>
                                            <li><a target="_blank" rel="noopenner noreferrer"
                                                    href="https://bit.ly/wiresharktshoot">Troubleshooting
                                                    Slow Networks with Wireshark</a></li>
                                            <li><a target="_blank" rel="noopenner noreferrer"
                                                    href="https://bit.ly/wiresharkhunt">Identify Common
                                                    Cyber Network Attacks with Wireshark</a></li>
                                        </ul>
                                    </li>
                                    <li>Private Wireshark Training - Anywhere in USA and Latin America. <a
                                            href="https://packetpioneer.com/contact/" target="_blank"
                                            rel="noopenner noreferrer">Contact Packet
                                            Pioneer today!</a></li>
                                </ul>
                                <h4>Wireshark University Europe/EMEA - <a href="https://scos.training/">SCOS Training
                                        Europe</a></h4>
                                <ul>
                                    <li>May 8th - 12th  2023: Classroom Training, Amsterdam/Netherlands: <a
                                            href="https://scos.training/wireshark-training/troubleshooting-tcp-ip-networks">TCP/IP
                                            Analysis and Troubleshooting with Wireshark</a></li>
                                </ul>
                                <h4>Classroom and Virtual Courses:</h4>
                                <ul>
                                    <li><a
                                            href="https://scos.training/wireshark-training/troubleshooting-tcp-ip-networks">TCP/IP
                                            Analysis and Troubleshooting with Wireshark (5 days)</a></li>
                                    <li><a
                                            href="https://scos.training/wireshark-training/advanced-network-security-analysis/">Advanced
                                            Network/Security Analysis using Open Source Tools (5 days)</a></li>
                                    <li><a href="https://scos.training/network-training/wifi-802-11-network-analysis/">WiFi
                                            / 802.11 Network Analysis and Security (5 days)</a></li>
                                    <li><a
                                            href="https://scos.training/wireshark-training/network-forensics-analysis-using-wireshark/">Network
                                            Forensics Analysis Using Wireshark (5 days)</a></li>
                                </ul>
                                <p>For in-company and Special Law Enforcement/Forensics Courses, contact <a
                                        href="mailto:info@scos.training">info@scos.training</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-13">
                        <div class="panel panel-primary  element-normal-top element-short-bottom os-animation"
                            data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    User Documentation
                                </h3>
                            </div>
                            <div class="panel-body swatch-gray">
                                <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                    data-os-animation-delay="0s">
                                    <h4><a href="https://www.wireshark.org/docs/wsug_html_chunked">User's Guide</a></h4>
                                    <p>
                                        <strong>The Wireshark User's Guide is available in several formats: </strong>
                                        <br>
                                        Web pages (browseable): <a href="https://www.wireshark.org/docs/wsug_html">One
                                            huge page</a> or <a
                                            href="https://www.wireshark.org/docs/wsug_html_chunked">multiple
                                            pages</a><br>
                                        Web pages (ZIP file): <a
                                            href="https://www.wireshark.org/download/docs/wsug_html.zip">One huge
                                            page</a> or <a
                                            href="https://www.wireshark.org/download/docs/wsug_html_chunked.zip">multiple
                                            pages</a><br>
                                        <a
                                            href="https://www.wireshark.org/download/docs/Wireshark%20User%27s%20Guide.epub">EPUB</a><br>
                                        <a
                                            href="https://www.wireshark.org/download/docs/Wireshark%20User%27s%20Guide.pdf">PDF</a>
                                    </p>
                                    <h4><a href="/docs/man-pages/">Command-line Manual Pages</a></h4>
                                    <p>UNIX-style man pages for Wireshark, TShark, dumpcap, and other utilities</p>
                                    <h4><a href="/docs/dfref/">Display Filter Reference</a></h4>
                                    <p>All of Wireshark's display filters, from version 1.0.0 to present.</p>
                                    <h4><a href="/docs/relnotes/">Release Notes</a></h4>
                                    <p>Version 0.99.2 to present.
                                    <h4><a href="/security/">Security Advisories</a></h4>
                                    <p>Information about vulnerabilities in past releases and how to report a
                                        vulnerability</p>
                                    <h4><a href="/bibliography.html">Bibliography</a></h4>
                                    <p>Books, articles, videos and more!</p>
                                    <h4><a href="/mirror.html">Mirroring Instructions</a></h4>
                                    <p>How to set up a wireshark.org mirror</p>
                                    <h4><a href="/export.html">Export Regulations</a></h4>
                                    <p>Our primary distribution point and how it affects you</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary  element-normal-top element-short-bottom os-animation"
                        data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Videos and Presentations
                            </h3>
                        </div>
                        <div class="panel-body swatch-gray">
                            <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                data-os-animation-delay="0s">
                                <h4><a href="http://sharkfest.wireshark.org/">SharkFest Retrospective Pages</a></h4>
                                <p>
                                    <a href="http://sharkfest.wireshark.org/">SharkFest</a> features presentations from
                                    a variety of knowledgeable, informative speakers.
                                </p>
                                <ul class="learnList">
                                    <li><a href="https://sharkfestus.wireshark.org/retrospective">SharkFest US</a></li>
                                    <li><a href="https://sharkfestasia.wireshark.org/retrospective">SharkFest ASIA</a>
                                    </li>
                                    <li><a href="http://sharkfesteurope.wireshark.org/retrospective">SharkFest
                                            Europe</a></li>
                                </ul>
                                <h4>Videos</h4>
                                <h4><strong>Take the free “Introduction to Wireshark” Tutorial series with
                                        Chris</strong></h4>
                                <iframe width="300" height="169" style="padding: 10px; border: none"
                                    src="https://www.youtube.com/embed/OU-A2EmVrKQ" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>

                                <h4><strong>Top 10 Wireshark Filters </strong>Follow Chris as he shows you the top
                                    filters you need to know to start shredding</h4>
                                <iframe width="300" height="169" style="padding: 10px; border: none"
                                    src="https://www.youtube.com/embed/68t07-KOH9Y" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>

                                <h4><strong>TCP Fundamentals Part 1 - SharkFest Talks </strong>Join Chris at SharkFest
                                    when he covered the core concepts of TCP Analysis
                                    shredding</h4>
                                <iframe width="300" height="169" style="padding: 10px; border: none"
                                    src="https://www.youtube.com/embed/xdQ9sgpkrX8" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>

                                <h4><strong>How I Learned to Stop Worrying and Love the PCAPs </strong>(Kary Rogers)
                                </h4>
                                <iframe width="300" height="169" style="padding: 10px; border: none"
                                    src="https://www.youtube.com/embed/1JR1WnxtLGA" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-13">
                        <div class="panel panel-primary  element-normal-top element-short-bottom os-animation"
                            data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    More Resources
                                </h3>
                            </div>
                            <div class="panel-body swatch-gray">
                                <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                    data-os-animation-delay="0s">
                                    <h4><a href="http://ask.wireshark.org/">Wireshark Q&amp;A <i
                                                class="fa fa-external-link"></i></a></h4>
                                    <h4><a href="faq.html">Frequently Asked Questions <i
                                                class="fa fa-external-link"></i></a></h4>
                                    <h4><a href="/lists/">Mailing Lists <i class="fa fa-external-link"></i></a></h4>
                                    <h4><a href="/tools/">Online Tools <i class="fa fa-external-link"></i></a></h4>
                                    <h4><a href="https://gitlab.com/wireshark/wireshark/-/wikis">Wireshark Wiki <i
                                                class="fa fa-external-link"></i></a></h4>
                                    <h4><a href="https://gitlab.com/wireshark/wireshark/-/issues">Issue Tracker <i
                                                class="fa fa-external-link"></i></a></h4>
                                    <h4><a
                                            href="https://www.youtube.com/channel/UCHBY7sUVdWK4bOSe7khG0UA?sub_confirmation=1">SharkFest
                                            YouTube <i class="fa fa-external-link"></i></a></h4>
                                </div>
                            </div>
                            <div class="panel-body swatch-gray">
                                <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                    data-os-animation-delay="0s">
                                    <h4>Wireshark and SharkFest blogs</h4>
                                    <p>
                                        <a href="https://blog.wireshark.org/2019/07/dedication-and-disagreements/">Dedication
                                            and Disagreements (Gerald Combs)</a><br>
                                        <a href="https://jvns.ca/blog/2018/06/19/what-i-use-wireshark-for/">How I use
                                            Wireshark (Julia Evans)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="news" class="section swatch-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <header class="text-center element-tall-top element-medium-bottom os-animation condensed"
                        data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <h1 class="bigger hairline bordered bordered-small">
                            News and Events
                        </h1>
                    </header>
                    <div class="row">
                        <div class="col-md-12 news-centered">
                            <div class="figure element-medium-top element-no-bottom os-animation text-center news-wrapper"
                                data-os-animation="fadeInLeft" data-os-animation-delay="0.3s">
                                <span class="figure-image">
                                    <a href="#"><img src="assets/theme-2015/images/sflogo2.png"
                                            style="margin-bottom: 20px;" alt="Devices"></a>
                                </span>
                                <ul class="features-list element-no-top element-no-bottom features-white"
                                    data-linecolor="" data-os-animation="none" data-os-animation-delay="0s">
                                    <li class="element-no-top element-short-bottom os-animation"
                                        data-os-animation="fadeInRight" data-os-animation-delay="0s">
                                        <h3>
                                            <a href="https://sharkfest.wireshark.org" target="_blank"
                                                rel="noopenner noreferrer">SharkFest'23 ASIA</a>
                                        </h3>
                                        <p>Wireshark Developer and User Conference<br>
                                            Dates: April 17-19<br>
                                            Location: Singapore</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="figure element-medium-top element-no-bottom os-animation text-center news-wrapper"
                                data-os-animation="fadeInLeft" data-os-animation-delay="0.3s">
                                <span class="figure-image">
                                    <a href="#"><img src="public/img/sflogo.png"
                                            style="margin-bottom: 20px;" alt="Devices"></a>
                                </span>
                                <ul class="features-list element-no-top element-no-bottom features-white"
                                    data-linecolor="" data-os-animation="none" data-os-animation-delay="0s">
                                    <li class="element-no-top element-short-bottom os-animation"
                                        data-os-animation="fadeInRight" data-os-animation-delay="0s">
                                        <h3>
                                            <a href="https://sharkfest.wireshark.org" target="_blank"
                                                rel="noopenner noreferrer">SharkFest'23 US</a>
                                        </h3>
                                        <p>Wireshark Developer and User Conference<br>
                                            Dates: June 10-15<br>
                                            Location: San Diego</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="download" class="section swatch-black section-text-shadow section-inner-shadow">
        <div class="background-media"
            style="background-image: url('assets/theme-2015/images/background1.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50%;"
            data-start="background-position:50% 50%" data-70-top-bottom="background-position:50% 70%">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left">


                    <header class="text-center  element-normal-top element-no-bottom not-condensed os-animation"
                        data-os-animation="fadeInUp" data-os-animation-delay="0s">
                        <h1 style="text-shadow: 1px 2px 1px #000;" class="bigger hairline bordered bordered-normal">
                            <strong>Download Wireshark</strong>

                        </h1>
                    </header>
                    <p style="text-shadow: 1px 1px 1px #000; font-size: 18px; text-align: center;"><strong>
                            The current stable release of Wireshark is {{ versions.stable }}.
                        </strong></p>

                    {% if versions.development_winintel64_bytes|int > 0 %}
                    <p style="text-shadow: 1px 1px 1px #000; font-size: 18px; text-align: center;"><strong>
                            You can also download a development release ({{ versions.development }}) and documentation.
                        </strong></p>
                    {% endif %}

                    <div class="col-md-6 col-sm-12">
                        <div id="accordion_836" class="panel-group  element-short-top element-short-bottom os-animation"
                            data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                            {#
                            Contents of panel-ws-download are updated with the nearest download prefix
                            via update_dl_elements from fill_dl.js.
                            #}
                            {% set download_selector='panel-ws-download' %}

                            <div class="panel panel-primary {{ download_selector }}">
                                <div class="panel-heading">
                                    <a href="#group_873" class="accordion-toggle" data-parent="#accordion_836"
                                        data-toggle="collapse">Stable Release ({{ versions.stable }}) • <span
                                            class="weak">{{ versions.stable_winintel64_date|date('%B %-d, %Y')
                                            }}</span></a>
                                </div>
                                <div id="group_873" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                            data-os-animation-delay="0s">
                                            <p>
                                                <span class="dl_arrow platform-win64"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/win64/Wireshark-win64-{{ versions.stable }}.exe">Windows
                                                    Installer (64-bit)</a>
                                                <br>
                                                <span class="dl_arrow"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/win64/WiresharkPortable64_{{ versions.stable }}.paf.exe">Windows
                                                    PortableApps&reg; (64-bit)</a>
                                                <br>
                                                <span class="dl_arrow platform-macarm"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.stable }}%20Arm%2064.dmg">macOS
                                                    Arm 64-bit .dmg</a>
                                                <br>
                                                <span class="dl_arrow platform-macintel"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.stable }}%20Intel%2064.dmg">macOS
                                                    Intel 64-bit .dmg</a>
                                                <br>
                                                <span class="dl_arrow"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/src/wireshark-{{ versions.stable }}.tar.xz">Source
                                                    Code</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-primary  panel-ws-download">
                                <div class="panel-heading">
                                    <a href="#group_890" class="accordion-toggle collapsed" data-parent="#accordion_836"
                                        data-toggle="collapse">Old Stable Release ({{ versions.oldstable }}) • <span
                                            class="weak">{{ versions.oldstable_winintel64_date|date('%B %-d, %Y')
                                            }}</span></a>
                                </div>
                                <div id="group_890" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                            data-os-animation-delay="0s">
                                            <p>
                                                <span class="dl_arrow platform-win64"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/win64/Wireshark-win64-{{ versions.oldstable }}.exe">Windows
                                                    Installer (64-bit)</a>
                                                <br>
                                                <span class="dl_arrow"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/win64/WiresharkPortable64_{{ versions.oldstable }}.paf.exe">Windows
                                                    PortableApps&reg; (64-bit)</a>
                                                <br>
                                                <span class="dl_arrow platform-win32"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/win32/Wireshark-win32-{{ versions.oldstable }}.exe">Windows
                                                    Installer (32-bit)</a>
                                                <br>
                                                <span class="dl_arrow"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/win32/WiresharkPortable32_{{ versions.oldstable }}.paf.exe">Windows
                                                    PortableApps&reg; (32-bit)</a>
                                                <br>
                                                <span class="dl_arrow platform-macarm"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.oldstable }}%20Arm%2064.dmg">macOS
                                                    Arm 64-bit .dmg</a>
                                                <br>
                                                <span class="dl_arrow platform-macintel"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.oldstable }}%20Intel%2064.dmg">macOS
                                                    Intel 64-bit .dmg</a>
                                                <br>
                                                <span class="dl_arrow"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/src/wireshark-{{ versions.oldstable }}.tar.xz">Source
                                                    Code</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if versions.development_winintel64_bytes|int > 0 %}
                            <div class="panel panel-primary panel-ws-download">
                                <div class="panel-heading">
                                    <a href="#group_899" class="accordion-toggle collapsed" data-parent="#accordion_836"
                                        data-toggle="collapse">Development Release ({{ versions.development }}) • <span
                                            class="weak">{{ versions.development_winintel64_date|date('%B %-d, %Y')
                                            }}</span></a>
                                </div>
                                <div id="group_899" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                            data-os-animation-delay="0s">
                                            <p>
                                                <span class="dl_arrow platform-win64"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/win64/Wireshark-win64-{{ versions.development }}.exe">Windows
                                                    Installer (64-bit)</a>
                                                <br>
                                                <span class="dl_arrow"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/win64/WiresharkPortable64_{{ versions.development }}.paf.exe">Windows
                                                    PortableApps&reg; (64-bit)</a>
                                                <br>
                                                <span class="dl_arrow platform-macarm"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.development }}%20Arm%2064.dmg">macOS
                                                    Arm 64-bit .dmg</a>
                                                <br>
                                                <span class="dl_arrow platform-macintel"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/osx/Wireshark%20{{ versions.development }}%20Intel%2064.dmg">macOS
                                                    Intel 64-bit .dmg</a>
                                                <br>
                                                <span class="dl_arrow"></span>
                                                <a
                                                    href="{{ versions.download_prefix }}/src/wireshark-{{ versions.development }}.tar.xz">Source
                                                    Code</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}{# versions.development_winintel64_bytes #}

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <a href="#group_898" class="accordion-toggle collapsed" data-parent="#accordion_836"
                                        data-toggle="collapse">Documentation</a>
                                </div>
                                <div id="group_898" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                            data-os-animation-delay="0s">
                                            <p>
                                                <a href="/docs/wsug_html_chunked/">Online (Multiple Pages)</a>
                                                <br>
                                                <a href="/docs/wsug_html/">Online (Single Page)</a>
                                                <br>
                                                <a href="/docs/">All Documentation</a><br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p style="text-shadow: 1px 1px 1px #000; font-size: 18px; text-align: center;"><strong>
                                    More downloads and documentation can be found on<br>
                                    the <a href="/download.html">downloads page</a>.
                                </strong></p>

                        </div>

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="panel-group  element-short-top element-short-bottom os-animation"
                            data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                            <div class="panel panel-primary ">
                                <div class="panel-heading">
                                    <a> <span class="weak">Wireshark Sponsors</span></a>
                                </div>
                                <div class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                            data-os-animation-delay="0s">
                                            <div class="col-md-6 col-sm-12 text-align-center dl-banners">
                                                {# https://www.comworth.com.sg/swiftwing/?from=wireshark #}
                                                <a href="https://www.comworth.com.sg/swiftwing/?from=wireshark"><img
                                                        class="banner-img-downloads"
                                                        src="assets/theme-2015/cards/comworth.png" alt="Comworth"></a>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-align-center dl-banners">
                                                {#
                                                https://www.endace.com/endaceprobe?utm_source=wireshark&utm_medium=banner&utm_campaign=dl-page
                                                #}
                                                <a
                                                    href="https://www.endace.com/endaceprobe?utm_source=wireshark&utm_medium=banner&utm_campaign=dl-page"><img
                                                        class="banner-img-downloads"
                                                        src="assets/theme-2015/cards/endace.png" alt="Endace"></a>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-align-center dl-banners">
                                                {# Redirects to https://fmad.io/001bbf9ab910b0556e4b666b370abffb.html #}
                                                <a href="https://fmad.io/001bbf9ab910b0556e4b666b370abffb.html"><img
                                                        class="banner-img-downloads"
                                                        src="assets/theme-2015/sponsors/fmadio.png" alt="fmadio"></a>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-align-center dl-banners">
                                                {# Redirects to
                                                https://www.scos.training/wireshark-training/troubleshooting-tcp-ip-networks/
                                                #}
                                                <a href="/sponsors/scos-training"><img class="banner-img-downloads"
                                                        src="assets/theme-2015/sponsors/scos-ad.jpg"
                                                        alt="Scos Training"></a>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-align-center dl-banners"></div>
                                            <a href="https://www.digitalocean.com/">
                                                <img src="https://opensource.nyc3.cdn.digitaloceanspaces.com/attribution/assets/PoweredByDO/DO_Powered_by_Badge_blue.svg"
                                                    alt="DigitalOcean" width="200" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

</article>

<script src="/mirrors.js?geo=1"></script>
<script src="{{ get_asset('/js/fill_dl.js') }}"></script>
<script>
    function init_dl() {
        update_dl_elements(".{{ download_selector }}", "{{ versions.download_prefix }}");
    }
    if (document.readyState != 'loading') {
        init_dl();
    } else {
        document.addEventListener('DOMContentLoaded', init_dl);
    }
</script>

{% endblock content %}