{% extends 'layout-home.html' %}
{% import 'link.html' as link %}

{% block title %}Download Mirrors{% endblock %}

{% block content %}
<section id="mirrors" class="section swatch-white">
<div class="container">
<div class="row">
  <div class="col-md">
    <div class="ws-well">


<h1>Download Mirrors</h1>

  <p>
  The following organizations provide download mirrors for Wireshark:
  </p>

  {# Should be synced with download.html and update-mirror-lists #}
  <ul class="item-list">

    <li>
      {{ link.self_link('https://1.as.dl.wireshark.org/') }}: Wireshark Foundation, Asia

    <li>
      {{ link.self_link('https://1.eu.dl.wireshark.org/') }}: Wireshark Foundation, Europe

    <li>
      {{ link.self_link('https://1.na.dl.wireshark.org/') }}: Wireshark Foundation, North America

    <li>
      {{ link.self_link('https://2.na.dl.wireshark.org/') }}: Wireshark Foundation, North America

    <li>
      {{ link.self_link('http://ftp.uni-kl.de/pub/wireshark/') }}: University of Kaiserslautern (Technische Universität Kaiserslauter), Germany

    <li>
      {{ link.self_link('https://ftp.yz.yamagata-u.ac.jp/pub/network/security/wireshark/') }}: Yamagata University, Japan

    <li>
      {{ link.self_link('https://wireshark.marwan.ma/download/') }}: MARWAN, Morocco

  </ul>

  <p>We do not support additional third party mirrors at this time.</p>

  </div>{# ws-well #}
  </div>{# col-md #}

</div>
</div>
</section>
{% endblock content %}
