---
import InfoPage from "../../layouts/InfoPage.astro";

const python_template=`
<section id="display-filter-reference">

<h2>Display Filter Reference: %{description}</h2>

<p><strong>Protocol field name:</strong> %{name}</p>

<p><strong>Versions:</strong> %{versions}</p>

<p><a href="../">Back to Display Filter Reference</a></p>

<p>
    <table class="display-filter"><tbody>
    <tr>
    <th>Field name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Versions</th>
    </tr>

%{fields}

    </tbody></table>
</p>


</section>
`;
---
<style>
td:first-child {
    overflow-wrap: anywhere;
}
</style>

<InfoPage title={"Wireshark · Display Filter Reference: %{description}"}>

  <section class="dfref">
  <Fragment set:html={python_template} />
  </section>

</InfoPage>
