---
import InfoPage from "../../layouts/InfoPage.astro";
import SecurityAdvisories from "../../components/SecurityAdvisories/SecurityAdvisories.json";

var subsections = [];
for (const advisory_info of SecurityAdvisories) {
    var subsection = {};
    subsection.year = advisory_info.year
    subsection.advisories = "";
    for (const advisory of advisory_info.advisories) {
        subsection.advisories += `\n`
            + `<p><a href="${advisory.document_id}.html">${advisory.document_id}</a>.`
            + ` ${advisory.name}.`
            + ` Fixed in ${advisory.fixed_versions}.`
            + `</p>`;
    }
    subsections.push(subsection);
}
---

<InfoPage title="Wireshark · Security Advisories">

    <section id="reporting-security-problems">
        <h2>Reporting Security Problems</h2>
    
        <p>
        If you've found a security problem with Wireshark we want to hear about it.
        You can let us know about security-related issues via the following channels:
        </p>
    
        <h3>Email</h3>
        <p>
        security[AT]wireshark.org.
        In cases where confidentiality is a concern, you can use our
        <a href="https://www.wireshark.org/download/gerald_at_wireshark_dot_org.gpg">GPG key (id 5A5ADBA7DBEA6C3F87224F1982244A78E6FEAEEA)</a>.
        </p>
    
        <h3>Web</h3>
      <p>
        Our
        <a href="https://gitlab.com/wireshark/wireshark/-/issues">issue tracking system</a>.
        Issues can be marked confidential if needed.
      </p>
    </section>

    <section id="security-advisories">
        <h2>Security Advisories</h2>
        <p>
            The following Wireshark releases fix serious security vulnerabilities.
            If you are running a vulnerable version of Wireshark you should consider upgrading.
        </p>
          
    {subsections.map((subsection) => (
        <h3>{subsection.year}</h3>

        <div set:html={subsection.advisories} />
    ))}

    </section>

</InfoPage>
