{% extends 'layout-home.html' %}
{% import 'proto_list.html' as proto_list %}

{# $Id$
#}

{% block title %}Display Filter Reference: Index{% endblock %}

{% block content %}
<section id="DFRef" class="section swatch-white">
<div class="container">
<div class="row">
  <div class="col-md">
    <div class="ws-well">
      <h3>Display Filter Reference</h3>

<p>
Wireshark's most powerful feature is its vast array of display filters (over
{{ proto_list.num_fields // 1000 * 1000 }} fields in
{{ proto_list.num_protocols // 1000 * 1000 }} protocols as of version
{{ proto_list.latest_version }}). They let you drill down to the
exact traffic you want to see and are the basis of many of Wireshark's other
features, such as the coloring rules.
</p>

<p>
This is a reference.  For general help using display filters, please see
the <a href="../man-pages/wireshark-filter.html">wireshark-filter</a>
manual page or the <a href="../">User's Guide</a>.
</p>

{% set sep = '' %}
<h2>Index</h2>
{% for section in proto_list.protocol_sections -%}
{{ sep }}<a class="dfref-index-entry" href="#section_{{ section.name }}">{{ section.name|upper }}</a>
{%- set sep = ' · ' -%}
{%- endfor %}

{% for section in proto_list.protocol_sections %}

<div class="section"><h1 id="section_{{ section.name }}">{{ section.name|upper }}</h1></div>

{% for protocol in section.protocols %}

<div class="dfref-entry">
  {{ protocol.name }}: <a href="{{ section.name }}/{{ protocol.name}}.html">{{ protocol.description }}</a>
  ({{ protocol.versions }}, {{ protocol.field_count }} field{% if protocol.field_count > 1 %}s{% endif %})
</div>

{% endfor %} {# protocol #}
{% endfor %} {# section #}

  </div>{# ws-well #}
  </div>{# col col-md #}

</div>
</div>
</section>
{% endblock content %}
