@use "latofonts.scss"; // https://www.latofonts.com/

$thin: LatoWebThin, Arial, Helvetica, sans-serif;
$normal: LatoWeb, Arial, Helvetica, sans-serif;
$medium: LatoWebMedium, Arial, Helvetica, sans-serif;
$bold: LatoWebBold, Arial, Helvetica, sans-serif;
$heavy: LatoWebHeavy, Arial, Helvetica, sans-serif;

$mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
