body {
    font-family: Menlo, Consolas, "Bitstream Vera Sans Mono", "Liberation Mono", monospace;
    font-size:12px;
    background: white;
    color: black;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/assets/img/wireshark-logo.png);
    background-size: 150px;
    background-position: top 1rem right 2rem;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Open Sans", "Bitstream Vera Sans", "DejaVu Sans", Helvetica, Arial, sans-serif;
    font-size:20px;
    line-height:26px;
}

a {
    text-decoration: none;
    color: #00E;
}

a:hover {
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border: 0;
    max-height: 18px;
    max-width: 18px;
}

table#list {
    width: 65em;

    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #aaa;

    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

table#list th, table#list tr.e, table#list tr.o {
    background: none;
}

table#list td {
    padding: 0.3em 0.5em;
}
