---
import Bare from "../layouts/Bare.astro";
---

<Bare>
<section class="oops">

    <div class="logo">
    <a href="/"><img
        alt="Wireshark logo"
        src="/assets/img/wireshark-logo.png"
        height="40px"
        width="150px"
        /></a>
    </div>

    <p class="lyrics">
    <a href="https://en.wikipedia.org/wiki/The_Banana_Splits">One banana, two banana, three banana, four</a>,
    <br/>
    whatever you requested came back 404.
    </p>

    <p>
    We couldn't find the file you requested. If you're lost, you might try:
    </p>

    <ul style="list-style-type: none">
      <li><a href="/">The main page</a></li>
      <li><a href="/download.html">The download page</a></li>
      <li><a href="/docs/">The documentation</a></li>
    </ul>
</section>
</Bare>