---
import InfoPage from "../layouts/InfoPage.astro";
import AboutPage from "../components/AboutPage/AboutPage"
import AuthorList from "../components/AboutPage/AuthorList.astro"
---

<InfoPage title="Wireshark · About">
    <AboutPage />
    <!-- <AuthorList /> -->
</InfoPage>
