---
import InfoPage from "../layouts/InfoPage.astro";
import Download from "../components/Download/Download"
---

<InfoPage title="Wireshark · Download">
    <script is:inline src="/mirrors.js" defer/>
    <script is:inline src="/js/update_mirror_url.js" defer></script>
    <script type="module">update_mirror_url();</script>
    <Download />
</InfoPage>