---
import InfoPage from "../layouts/InfoPage.astro";
---

<InfoPage title="Wireshark · Export Restrictions">
  <div>
    <h1>Wireshark Export Restrictions</h1>
    <p>
      The Wireshark network protocol analyzer is open source software that
      contains strong encryption. Specifically, it has the ability to decrypt
      DCERPC, IPsec, ISAKMP, Kerberos, SNMPv3, SSL/TLS, WEP, WPA/WPA2 and a
      number of other protocols. Its primary distribution point is in the United
      States, and subsequently falls under U.S. encryption export regulations.
    </p>
    <p>
      To the best of our knowledge, Wireshark falls under ECCN 5D002 and
      qualifies for license exemption TSU under Section 734.3(b)(3) of the EAR.
      There are no U.S. regulations that prohibit you from downloading
      Wireshark.
    </p>
    <p>
      Frank Hecker has written a <a href="http://hecker.org/mozilla/eccn"
        >detailed explanation of Mozilla's ECCN</a
      >. It applies to other open source software, including Wireshark.
    </p>
    <p>
      Addendum: Prior to January 7, 2011, downloading Wireshark in Cuba, Iran,
      North Korea, Libya, Sudan, and Syria was prohibited. <a
        href="http://www.federalregister.gov/articles/2011/01/07/2010-32803/publicly-available-mass-market-encryption-software-and-other-specified-publicly-available-encryption"
        >On January 7, 2011 the U.S. Bureau of Industry and Security removed
        this restriction</a
      >.
    </p>
  </div>
</InfoPage>
