---
import InfoPage from "../layouts/InfoPage.astro";
import FAQContents from "../components/FAQContents/FAQContents.html";
---

<InfoPage title="Wireshark · Frequently Asked Questions">
    <section id="faq">
        <FAQContents />
    </section>
</InfoPage>
