---
import Layout from "../layouts/Layout.astro";
import MainLanding from "../components/Home/MainLanding";
import EducationalContent from "../components/Home/EducationalContent";
import AboutSection from "../components/Home/AboutSection";
import DonationSection from "../components/Home/DonationSection";
import DownloadSection from "../components/Home/DownloadSection";
import SponsorSection from "../components/Home/SponsorSection";
---

<Layout title="Wireshark · Go Deep">
    <script is:inline src="/mirrors.js"></script>
    <script is:inline src="/js/update_mirror_url.js"></script>
    <script type="module">
        update_mirror_url();
    </script>

    <main>
        <MainLanding client:load />
        <SponsorSection />
        <EducationalContent />
        <div id="downloadLink"></div>
        <!-- <AboutSection /> -->
        <DownloadSection />
    </main>
</Layout>
