---
import InfoPage from "../layouts/InfoPage.astro";
import links from "../utils/links";
import WiresharkUContent from "../components/Learn/WiresharkUContent";
---

<style is:inline lang="scss">
    #wireshark-university {
        #WiresharkUniversityUS, #WiresharkUniversityEU, #WiresharkUniversityASIA {
            margin: 4rem 0rem;
            scroll-margin-top: 150px;
        }
        .top-section {
            margin-bottom: 4rem;
        }
        h3, h4 {
            margin-bottom: 0;
        }
        strong {
            text-transform: uppercase;
            font-size: 1.2rem;
        }
        
        .info-reg {
            display: flex;
            justify-content: space-around;
            align-items: center;

            button {
                height: 70px;
                padding: 0 1rem;
            }
        }
    }
</style>

<InfoPage title="Wireshark • Learn">
    <section id="wireshark-university">
        <div class="top-section">
            <h1>WIRESHARK UNIVERSITY</h1>
            <p>Check here to learn about upcoming opportunities to learn packet analysis with Wireshark experts.</p>
            <h2><a href="https://sharkfest.wireshark.org" target="_blank" rel="noopenner noreferrer">SharkFest</a></h2>
            <p><a href="https://sharkfest.wireshark.org" target="_blank" rel="noopenner noreferrer">SharkFest™</a>, launched in 2008, is a series of annual educational conferences staged in various parts of the globe and focused on sharing knowledge, experience and best practices among the Wireshark® developer and user communities. SharkFest attendees hone their skills in the art of packet analysis by attending lecture and lab-based sessions delivered by the most seasoned experts in the industry. Wireshark core code contributors also gather during the conference days to enrich and evolve the tool to maintain its relevance in ensuring the productivity of modern networks.</p><br/>
            <h2><a href="#WiresharkUniversityUS">US</a> • <a href="#WiresharkUniversityEU">EUROPE</a> • <a href="#WiresharkUniversityASIA">ASIA</a>
        </div>
        <WiresharkUContent client:load />

        <p>Other Courses:</p>
        <ul>
            <li>Masterclass - Advanced Network & Security Analysis (5 days)</li>
            <li>Voice & Video over IP Network Analysis Using Wireshark (5 days)</li>
            <li>Intro to the science of OSINT and Forensics Analysis fundamentals (5 days)</li>
            <li>Internet of Things (IoT) Analysis and Security (5 days)</li>
            <li>VoIP Network Analysis (5 days)</li>
        </ul>

        <!-- <div id="WiresharkUniversityASIA"></div>
        <div>
            <h2>Wireshark University & Allegro Packets online APAC Wireshark Training Session:</h2>
            <h3><a href={links.apac25.url}>802.11 WiFi approaching 30 years, a look at current and future WiFi technologies (802.11n-802.11be) using Allegro Packets & Wireshark</a> </h3>
            <p>
            <div class="info-reg">
            <p>
                <b>March 5, 2025</b><br/>
                <b>10:00-10:05</b> Welcome by Gerald Combs<br/>
                <b>10:05-11:30</b> Phill Shade's training<br/>
                <b>11:30-11:55</b> Allegro Packets<br/>
                <b>Free</b><br/>
            </p>
                <a href={links.apac25.url}><button class="primary-button">Register Now</button></a>
            </div>
            
            <h4>Instructor: <a href="https://conference.wireshark.org/sharkfest-24-eu/speaker/NEPUZU/" target="_blank" rel="noreferrer"> Phill Shade, Owner Merlion's Keep Consulting</a></h4>
            <h4>Learn more about <a href="https://allegro-packets.com/" target="_blank" rel="noreferrer">Allegro Packets</a></h4> 
        </div> -->
    </section>
</InfoPage>