---
import InfoPage from "../layouts/InfoPage.astro";
import { sponsorLinks } from "../utils/links";
import { MEMBERSHIP_LEVELS } from "../utils/types";
---

<style lang="scss">
    @use "../styles/colors.module.scss";
    @use "../styles/breakpoints" as b;
    @use "../styles/spacings" as s;

    .member-top-container {
        text-align: center;
        padding: 4rem 0;
        padding-top: s.$spacing2rem;
        background: linear-gradient(
            110deg,
            #018bee,
            #006ebd 30.07%,
            #002f66 99.55%
        );
        color: white;

        div {
            max-width: 900px;
            margin: 0 auto;
            margin-top: s.$spacing2rem;

            @media screen and (max-width: b.$tablet) {
                margin-left: s.$spacing2rem;
                margin-right: s.$spacing2rem;
            }
        }
    }
    .member-top-container h2 {
        font-weight: 500;
        margin-bottom: s.$spacing2rem;
    }
    button {
        min-width: 242px;
    }
    .members-container {
        background: linear-gradient(
            110deg,
            #018bee,
            #006ebd 30.07%,
            #002f66 99.55%
        );
        padding: 2.5rem;
        border-radius: 10px;
        max-width: 900px;
        margin: 0 auto;
        margin-top: s.$spacing2rem;

        @media screen and (max-width: b.$tablet) {
            margin-left: s.$spacing2rem;
            margin-right: s.$spacing2rem;
        }

        h2 {
            color: colors.$color-off-white2;
            margin: 0;
            margin-bottom: s.$spacing2rem;
        }

        img {
            max-width: 100%;

            &:hover {
                cursor: pointer;
            }
        }

        .member-list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            grid-gap: s.$spacing4rem;
            align-items: center;
            text-align: center;

            @media screen and (max-width: b.$tablet) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: b.$mobile) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        // Couldn't use :first-child here because I'm targeting a class
        .member-list:nth-of-type(1) {
            margin-bottom: 2rem;
        }
    }
</style>

<InfoPage title="Wireshark · Members" disableMainContainer={true}>
    <div class="member-top-container">
        <div>
            <h1>Members</h1>
            <h2>
                Our members help build the future of packet analysis. They
                foster open source development and enable us to explore new ways
                of educating the public.
            </h2>
            <a href="https://wiresharkfoundation.org/pdf/become-a-member.pdf"
                ><button class="primary-button">Explore Memberships</button></a
            >
        </div>
    </div>
    <div class="members-container">
        <h2>Platinum Members</h2>
        <div class="member-list">
            {
                sponsorLinks.map((sponsor) => {
                    if (sponsor.sponsorshipLevel === MEMBERSHIP_LEVELS.PLATINUM) {
                        return (
                            <div>
                                <a target="_blank" rel="noopenner noreferrer" href={sponsor.url}>
                                    <img
                                        alt={sponsor.name + " logo"}
                                        src={sponsor.imgPath}
                                    />
                                </a>
                            </div>
                        )
                    }
                })
            }
        </div>
        <h2>Gold Members</h2>
        <div style="margin-bottom: 2rem" class="member-list">
            {
                sponsorLinks.map((sponsor) => {
                    if (sponsor.sponsorshipLevel === MEMBERSHIP_LEVELS.GOLD) {
                        return (
                            <div>
                                <a target="_blank" rel="noopenner noreferrer" href={sponsor.url}>
                                    <img
                                        alt={sponsor.name + " logo"}
                                        src={sponsor.imgPath}
                                    />
                                </a>
                            </div>
                        )
                    }
                })
            }
        </div>
        <h2>Silver Members</h2>
        <div style="margin-bottom: 2rem" class="member-list">
            {
                sponsorLinks.map((sponsor) => {
                    if (sponsor.sponsorshipLevel === MEMBERSHIP_LEVELS.SILVER) {
                        return (
                            <div>
                                <a target="_blank" rel="noopenner noreferrer" href={sponsor.url}>
                                    <img
                                        alt={sponsor.name + " logo"}
                                        src={sponsor.imgPath}
                                    />
                                </a>
                            </div>
                        )
                    }
                })
            }
        </div>
        <h2>Other Members</h2>
        <div class="member-list">
            {
                sponsorLinks.map((sponsor) => {
                    if (sponsor.sponsorshipLevel !== MEMBERSHIP_LEVELS.PLATINUM && sponsor.sponsorshipLevel !== MEMBERSHIP_LEVELS.SILVER && sponsor.sponsorshipLevel !== MEMBERSHIP_LEVELS.GOLD) {
                        return (
                            <div>
                                <a href={sponsor.url}>
                                    <img
                                        alt={sponsor.name + " logo"}
                                        src={sponsor.imgPath}
                                    />
                                </a>
                            </div>
                        )
                    }
                })
            }
        </div>
    </div>
</InfoPage>
