---
import InfoPage from "../layouts/InfoPage.astro";
---

<InfoPage title="Wireshark · Download Mirrors">
    <section id="mirrors">

    <h2>Download Mirrors</h2>

    <p>
    The following organizations provide download mirrors for Wireshark:
    </p>
  
    {/* Should be synced with download.html and update-mirror-lists */} 
  
    <p><a href="https://1.as.dl.wireshark.org/">Wireshark Foundation, Asia</a></p>

    <p><a href="https://1.eu.dl.wireshark.org/">Wireshark Foundation, Europe</a></p>

    <p><a href="https://1.na.dl.wireshark.org/">Wireshark Foundation, North America</a></p>

    <p><a href="https://2.na.dl.wireshark.org/">Wireshark Foundation, North America</a></p>

    <p><a href="http://ftp.uni-kl.de/pub/wireshark/">University of Kaiserslautern (Technische Universität Kaiserslautern, Germany</a></p>

    <p><a href="https://ftp.yz.yamagata-u.ac.jp/pub/network/security/wireshark/">Yamagata University, Japan</a></p>

    <p><a href="https://wireshark.marwan.ma/download/">MARWAN, Morocco</a></p>

    <p>We do not support additional third party mirrors at this time.</p>

    </section>
</InfoPage>
