@use "../../styles/colors.module.scss";
@use "../../styles/breakpoints" as b;
@use "../../styles/spacings" as s;

.headerContainer {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.header {
    padding: s.$spacing2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: right;
    width: 100%;
    border-bottom: 1px solid rgb(236, 239, 241);
    background: var(--background);

    @media screen and (max-width: b.$tablet) {
        font-size: 1.2rem;
    }

    .donateButton {
        border: 0px;
        padding: 1rem;
        background: colors.$color-primary;
        color: white;
        font-size: 1rem;
        margin-left: 1rem;

        @media screen and (max-width: b.$tablet) {
            display: none;
        }
    }

    .donateButton:hover {
        background-color: rgb(10, 70, 228);
        transition: background-color 0.25s ease 0s;
    }

    .headerWrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        box-sizing: content-box;
        justify-content: space-between;

        #hamburgerLabel {
            margin-left: auto;
            margin-bottom: auto;
            display: none;

            .navicon {
                background: var(--general-text);
                display: block;
                height: 2.5px;
                width: 22px;
                position: relative;
                z-index: 15;
                margin-top: 26px;

                &:before {
                    top: 7px;
                }

                &:after {
                    top: -7px;
                }

                &:before,
                &::after {
                    background: var(--general-text);
                    display: block;
                    width: 100%;
                    height: 100%;
                    content: '';
                    position: absolute;
                    transition: all .2s ease-out;
                    z-index: 20;
                }
            }

            @media screen and (max-width: b.$tablet) {
                break-after: always;
                display: block;
            }
        }

        // Always show on mobile, always hide otherwise
        .headerHamburger {
            display: none;
            position: relative;
            z-index: 15;
            cursor: pointer;
            height: 30px;
            width: 30px;
            margin-top: 8px;

            @media screen and (max-width: b.$tablet) {
                display: inline-block;
            }

            &:before {
                display: inline-block;
                content: "\00d7";
                /* This will render the 'X' */
            }
        }

        // Always hide
        #headerMenuToggle {
            display: none;
        }

        // Show <nav> when checked
        #headerMenuToggle:checked ~ nav {
            display: flex;
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 10;
            left: 0;
            height: 100%;
            padding: 3rem;
            padding-top: 0;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                background-color: var(--background);
                opacity: 0.95;
            }
        }

        #headerMenuToggle:checked ~ #hamburgerLabel .navicon {
            background: transparent;
            position: fixed;
            right: 2rem;
        }

        #headerMenuToggle:checked ~ #hamburgerLabel .navicon:before {
            transform: rotate(-45deg);
        }

        #headerMenuToggle:checked ~ #hamburgerLabel .navicon:after {
            transform: rotate(45deg);
        }

        #headerMenuToggle:checked ~ #hamburgerLabel .navicon:before,
        #headerMenuToggle:checked ~ #hamburgerLabel .navicon:after {
            top: 0;
        }
    }
}

.topBannerWrapper {
    background-color: colors.$color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: s.$spacing2rem;
    padding-right: s.$spacing2rem;
}

.callToAction {
    color: white;
    padding: .7rem;
    text-align: center;
    font-weight: 700;
    font-size: 14px;

    @media screen and (max-width: b.$smaller) {
        font-size: 13px;
    }
}

// https://css-tricks.com/solved-with-css-dropdown-menus/
// https://codepen.io/andornagy/pen/RNeydj
.mainNav {
    position: relative;

    // Start hidden on mobile
    @media screen and (max-width: b.$tablet) {
        text-align: left;
        display: none;
    }

    a {
        color: var(--header-text);
        text-align: left;
    }

    a:hover {
        color: colors.$color-primary;
    }

    ul {
        display: flex;
        margin: 0;
        font-size: 1rem;
        padding-left: 0;

        @media screen and (max-width: b.$tablet) {
            flex-direction: column;
            padding-left: 0;
            margin-top: 6rem;
        }
    }

    li {
        display: block;
        position: relative;
        transition-duration: 0.5s;
        padding: 0.8rem;
        letter-spacing: -.5px;

        img {
            max-width: 10px;
            margin-left: 3px;
            margin-top: 3px;
        }

        @media screen and (max-width: b.$tablet) {
            padding-left: 0;
        }

    }

    li a {
        color: var(--header-text);
    }

    li:hover {
        cursor: pointer;
    }

    ul li ul {
        position: absolute;
        top: 1.25em;
        // transition: all 0.5s ease;
        margin-top: 1rem;
        padding-left: 0;
        border-radius: 4px;
        box-shadow: var(--box-shadow);
        display: none;
        flex-direction: column;
        text-align: left;
        padding: 1rem;
        z-index: 1;

        @media screen and (max-width: b.$tablet) {
            padding-left: 1rem;
        }

        @media screen and (min-width: b.$tablet) {
            transform: translate(-2rem); // Negative of padding + margin
        }
    }

    ul li:hover>ul,
    ul li:focus-within>ul,
    ul li ul:hover,
    ul li ul:focus {
        background: var(--background);
        display: flex;
        white-space: nowrap;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }
}