@use "../../styles/breakpoints" as b;

@keyframes scroll {
  0% {
    left: 35%;
  }

  100% {
    left: -100%;
  }
}

.scrollParent {
  position: relative;
  display: flex;
  height: 10rem;
  padding: 2rem 0;
  overflow: hidden;
  margin: 0 auto;
  -webkit-mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
  mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
  width: 100%;

  @media screen and (max-width: b.$small) {
    height: 9rem;
    padding: 1rem;
  }
}


.scrollElement {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  left: 0;
  position: absolute;
  top: 0;
  width: inherit;

  img {
    width: 250px;
    padding: 2.5rem;

    @media screen and (min-width: b.$desktop) {
      padding: 2.5rem;
      width: 300px;
    }
  }
}

.primary {
  animation: scroll 100s linear infinite;
}