@use "../../styles/breakpoints" as b;
@use "../../styles/spacings" as s;
@use "../../styles/colors.module.scss";
@use "../../styles/fonts.module.scss";

#footer {
    padding: s.$spacing4rem;
    padding-top: s.$spacing2rem;
    padding-bottom: s.$spacing2rem;
    font-size: 1rem;
    border-top: 1px solid rgb(236, 239, 241);

    display: grid;
    grid-template-columns: auto auto;

    @media screen and (max-width: b.$tablet) {
        grid-template-columns: auto;
        padding: s.$spacing2rem;
    }

    ul {
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 0;
    }
    
    li {
        line-height: 1.4rem;
    }

    li:first-child {
        font-family: fonts.$heavy;
    }

    p {
        padding-top: 1.2rem;
        padding-bottom: 0;
        margin-bottom: .5rem;
    }

    .copyright {
        a {
            padding-bottom: .5rem;
        }
    }

    .footerGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 2rem;
    
        @media screen and (max-width: b.$smaller) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}