@use "../../styles/breakpoints" as b;
@use "../../styles/spacings" as s;

.sponsorCardWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 0 auto;
    margin-top: 1.2rem;
    text-align: center;
    margin-bottom: s.$spacing2rem;

    @media screen and (max-width: b.$desktop) {
        max-width: 900px;
    }

    img {
        width: 200px;
        height: 165px;

        @media screen and (max-width: b.$mobile) {
            max-width: 100%;
            max-height: 100%;
        }
    }
}