@use "../../styles/breakpoints" as b;
@use "../../styles/spacings" as s;
@use "../../styles/colors.module.scss";

.downloadAccordion {
    max-width: 900px;
    min-width: 600px;
    padding-bottom: s.$spacing2rem;
    padding-top: s.$spacing2rem;

    @media screen and (max-width: b.$desktop) {
        margin: 0 auto;
    }

    @media screen and (max-width: b.$tablet) {
        max-width: 500px;
        min-width: 100%;
    }

    a {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    img {
        height: 1em;
        margin-right: 0.5em;
    }
}

#downloadPage {
    p {
        margin-bottom: 0;
    }

    hr {
        position: absolute;
    }

    table {
        text-align: left;
        margin-top: 1rem;

        tr:nth-child(even) {
            background-color: #82b9ff2e;
        }
    }
}