---
import AppWrapper from "../components/AppWrapper/AppWrapper";
import "./Layout.scss";
import Banner from "../components/Banner/Banner.astro";
import links from "../utils/links";
export interface LayoutProps {
    title: string;
    rss_title?: string;
    rss_url?: string;
    disableMainContainer?: boolean;
}

const { title, rss_title = "", rss_url = "" } = Astro.props as LayoutProps;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <meta property="og:title" content={title} />
        <meta
            property="og:description"
            content="Wireshark: The world's most popular network protocol analyzer"
        />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Wireshark" />
        <meta property="og:url" content={Astro.url.href} />
        <meta
            property="og:image"
            content="https://www.wireshark.org/assets/img/wireshark-logo-big.png"
        />
        <meta
            name="twitter:image:alt"
            content="Image for the website for Wireshark, the world's premiere network analyzer"
        />
        <meta name="twitter:card" content="summary_large_image" />

        <link rel="preload" href="/assets/fonts/Lato-Regular.woff2" />
        <link rel="preload" href="/assets/fonts/Lato-Bold.woff2" />
        <link rel="preload" href="/assets/fonts/Lato-Heavy.woff2" />
        <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico" />

        <script is:inline>
            const currentTheme = localStorage.getItem("theme");
            document.documentElement.className = currentTheme;
        </script>

        <!-- Pretix -->
        <link rel="stylesheet" type="text/css" href="https://ticketing.wireshark.org/sf/APAC-Wireshark-Training/widget/v1.css" crossorigin>
        <script type="text/javascript" src="https://ticketing.wireshark.org/widget/v1.en.js" async crossorigin></script>
        <!-- End Pretix -->

        <title>{title}</title>
        {
            rss_title && rss_url && (
                <link
                    rel="alternate"
                    type="application/rss+xml"
                    href={rss_url}
                    title={rss_title}
                />
            )
        }
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YLHRKD6LH6"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-YLHRKD6LH6');
        </script>
    </head>
    <body>
        <AppWrapper client:only="preact">
            <slot />
        </AppWrapper>
        <Banner text="Big News: Introducing Stratoshark – 'Wireshark for the Cloud'! - Click here to learn more" link={links.stratoShark.url} />
        <script is:inline defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e2b217f4cd1643178b66920245ab057f"}'></script>
    </body>
</html>
