@use "../../styles/spacings" as s;
@use "../../styles/breakpoints" as b;

.switchWrapper {
  max-height: 32px;
  position: absolute;
  right: s.$spacing2rem;

  @media screen and (max-width: b.$tablet) {
    position: inherit;
  }
}